In [1]:
import pyodbc
import pandas as pd

In [2]:
server = 'dataintegrationproject.database.windows.net' 
database = 'DieZweiFragezeichen' 
username = 'di_public' 
password = 'DI_Pub2022!'  
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [8]:
q_HDI = "SELECT * FROM HDI;"
q_AdjustedNI = "SELECT * FROM AdjustedNetIncome;"
q_Countries = "SELECT * FROM Countries;"
q_CountryGdp = "SELECT * FROM CountryGdp;"
q_DurSchoolCompulsory = "SELECT * FROM DurSchoolCompulsory;"
q_LifeExpectancy = "SELECT * FROM LifeExpectancy;"
q_LiteracyRate = "SELECT * FROM LiteracyRate;"

HDI = pd.read_sql(q_HDI, cnxn)
AdjustedNetIncome = pd.read_sql(q_AdjustedNI, cnxn)
Countries = pd.read_sql(q_Countries, cnxn)
CountryGdp = pd.read_sql(q_CountryGdp, cnxn)
DurSchoolCompulsory = pd.read_sql(q_DurSchoolCompulsory, cnxn)
LifeExpectancy = pd.read_sql(q_LifeExpectancy, cnxn)
LiteracyRate = pd.read_sql(q_LiteracyRate, cnxn)

print(HDI.head(5))

  HDI Rank      Country   1990   1991   1992   1993   1994   1995   1996  \
0      169  Afghanistan  0.302  0.307  0.316  0.312  0.307  0.331  0.335
1       69      Albania   0.65  0.631  0.615  0.618  0.624  0.637  0.646
2       91      Algeria  0.572  0.576  0.582  0.586   0.59  0.595  0.602
3       36      Andorra     ..     ..     ..     ..     ..     ..     ..
4      148       Angola     ..     ..     ..     ..     ..     ..     ..

    1997  ...   2010   2011   2012   2013   2014   2015   2016   2017   2018  \
0  0.339  ...  0.472  0.477  0.489  0.496    0.5    0.5  0.502  0.506  0.509
1  0.645  ...  0.745  0.764  0.775  0.782  0.787  0.788  0.788   0.79  0.792
2  0.611  ...  0.721  0.728  0.728  0.729  0.736   0.74  0.743  0.745  0.746
3     ..  ...  0.837  0.836  0.858  0.856  0.863  0.862  0.866  0.863  0.867
4     ..  ...  0.517  0.533  0.544  0.555  0.565  0.572  0.578  0.582  0.582

    2019
0  0.511
1  0.795
2  0.748
3  0.868
4  0.581

[5 rows x 32 columns]